header.header.transition-fade
  .logo
    a(href="/")
      img(src="assets/img/logo.svg", alt="") 
    #slide_word
      mixin wordItem(word)
        .slide_word_item=word 
      +wordItem('Надежно')  
      +wordItem('Быстро')  
      +wordItem('Удобно')  
  nav.nav
    ul
      li.nav__item
        a(href='') Продукты
        ul
          li.nav__item_active
            a(href='/') Кошелёк
          li
            a(href='/processing.html') Процессинг
          li
            a(href='/terminal.html') Терминалы
          li
            a(href='/cashier.html') Касса
      li.nav__item
        a(href='/about.html') О компании
        
      li.nav__item
        a(href='/contacts.html') Контакты
  .hamburger
    .hamburger__wrap
      i
      i
