* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $roboto;
}

a {
  text-decoration: none;
  transition: $tr;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

.social {
  li {
    margin-right: 13px;

    span {
      margin-right: 0 !important;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1170px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(540px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

// col start
.wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    height: auto;
    background-image: none !important;
  }

  .col {
    width: 100%;
    max-width: 50%;
    position: relative;
    height: 100%;
    transition: $tr;

    @media screen and (max-width: 1024px) {
      max-width: 100%;
    }

    &__angle {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      .angle {
        position: relative;

        svg {
          position: relative;
        }

        &:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;

          svg {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media screen and (max-width: 1024px) {
        border-radius: 0 !important;
      }
    }

    &__content {
      position: relative;
      align-items: center;
      z-index: 2;
      align-items: flex-start;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: auto;
    }

    &:first-child {

      @media screen and (max-width: 1024px) {
        height: 100vh;
        background-size: cover;
        background-position: bottom left;
      }

      .col__content {
        margin: 0;
        height: auto;
        width: 100%;
        padding-right: var(--totalWidth);
        box-sizing: border-box;
      }

      .col__wrap {
        border-radius: 0 2.8% 2.8% 0;
        height: 100%;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
        padding: 52px 30px 52px 96px;
        position: relative;
        box-sizing: border-box;

        @media screen and (max-width: 1500px) {
          padding: 40px 50px;
        }

        @media screen and (max-width: 1024px) {
          padding: 72px 77px;
        }

        @include md {
          border-radius: 0 2.5% 2.5% 0;
        }

        &:before {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 51, 129, 0.8);
        }
      }
    }


    &:last-child {
      padding: 0;

      .col__wrap {
        width: 100%;
        height: 100%;
        border-radius: 2.8% 0 0 2.8%;
        overflow: hidden;

        @include md {
          border-radius: 2% 0 0 2%;
        }

      }

      .col__content {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;

        ::-webkit-scrollbar {
          display: none;
        }

        &:before {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba($wc, 0.87);
        }

      }

      .col__angle {
        transform: rotate(-180deg);
      }
    }

    .pagination {
      li {
        display: inline-block;
        margin-right: 17px;

        @media screen and (max-width: 1024px) {
          margin-right: 33.78px;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          min-width: 109.8px !important;
          width: 100%;
          height: 6px;
          border-radius: 51px;
          background-color: rgba(255, 255, 255, 0.2);
          display: flex;
          position: relative;
          overflow: hidden;

          @media screen and (max-width: 1500px) {
            min-width: 90px !important;
          }

          @include lg {
            min-width: 80px !important;
            height: 5px;
          }

          @media screen and (max-width: 1024px) {
            min-width: 142.66px !important;
          }

          &:before {
            position: absolute;
            content: '';
            left: 0;
            height: 100%;
            width: 0;
            transition: $tr;
            background-color: $wc;
          }

          &:hover {
            &:before {
              width: 100%;
            }
          }
        }

        &.nav__item_active {
          a {
            &:before {
              width: 100%;
            }
          }
        }
      }
    }

    // title start


    &__title {
      color: $wc;
      font-weight: 500;
      font-family: $raleway;
      font-size: rem(50);
      line-height: rem(54);
      margin-top: 0;
      margin-bottom: 28px;

      @media screen and (max-width: 1770px) {
        font-size: rem(37);
        line-height: rem(41);
        margin-bottom: 20px;
      }

      @media screen and (max-width: 1500px) {
        font-size: rem(35);
        line-height: rem(30);
        margin-bottom: 18px;
      }

      @media screen and (max-width: 1400px) {
        font-size: rem(30);
        line-height: rem(25);
        margin-bottom: 16px;
      }

      @media screen and (max-width: 1024px) {
        font-size: rem(50);
        line-height: rem(53);
        margin-bottom: 26px;
      }

      &--secondary {
        margin-bottom: 7px;
      }

      &--thin {
        font-family: $raleway;
        font-size: rem(25);
        font-style: normal;
        font-weight: 600;
        line-height: rem(27);
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
        color: rgba(182, 209, 255, 1);
      }
    }

    &__sub-title {
      font-size: rem(22);
      line-height: rem(26.4);
      color: #B6D1FF;
      font-weight: 400;
      font-family: $roboto;
      margin-bottom: 26px;

      @media screen and (max-width: 1770px) {
        font-size: rem(18);
        line-height: rem(22);
      }

      @media screen and (max-width: 1024px) {
        font-size: rem(22);
        line-height: rem(26.4);
      }

      &--secondary {
        font-size: rem(16);
        line-height: rem(20.96);
      }
    }

    // title end

  }

  &.contacts {
    .col {

      &:last-child {
        // border-radius: 30px 0 0 30px;
        overflow: hidden;
      }
    }
  }

  &.wide.wide-js {
    .col {
      &:first-child {
        max-width: 60%;
      }

      &:last-child {
        max-width: 40%;
      }
    }
  }
}

// col end

// btn start 
.btn {
  border: 1px solid $wc;
  padding: 0 27px;
  height: 60px;
  color: $wc;
  font-weight: 500;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  &:hover {
    background-color: $wc;
    color: $bc;
  }

  &--dwnld {
    padding: 0 22px;

    &:hover {
      background-color: transparent;
      color: $wc;

      circle {
        display: none;
      }

      svg {
        path {
          &.androin-head {
            animation: shake 1.4s cubic-bezier(.36, .07, .19, .97) both;
            transform-origin: top;
          }
        }
      }
    }

    svg {
      margin-right: 13px;
      position: relative;

      path,
      circle {
        transition: $tr;
      }

      .androin-head {
        text-align: center;
      }

      .eye-blink {
        animation: blink 3s infinite cubic-bezier(.36, .07, .19, .97) both;
        animation-delay: 1;
        fill: rgba($bc, 0.7);
      }
    }

    span {
      font-weight: 300;
      font-size: rem(12);
      display: block;
    }
  }

}

@keyframes shake {

  10%,
  90% {
    transform: rotate(-6deg) translateX(-2px);

  }

  20%,
  80% {
    transform: rotate(3deg) translateX(-2px);
  }

  30%,
  50%,
  70% {
    transform: rotate(-6deg) translateX(-2px);
  }

  40%,
  60% {
    transform: rotate(3deg) translateX(-2px);
  }
}

@keyframes blink {

  0% {
    fill: $wc;
  }

  10% {
    fill: rgba($bc, 0.7);
  }

  20% {
    fill: $wc;
  }

  30% {
    fill: rgba($bc, 0.7);
  }

  60% {
    fill: rgba($bc, 0.7);
  }

  70% {
    fill: rgba($bc, 0.7);
  }

  90% {
    fill: rgba($bc, 0.7);
  }

  100% {
    fill: rgba($bc, 0.7);
  }
}

// btn end 

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}


// animate download start

html.is-animating .transition-fade {
  opacity: 0;
}



html.is-animating .transition-fadeTop {
  opacity: 0;
  transform: translateY(-100px);
}

.transition-thematicImage {
  transition: all .5s;
  transition-delay: 0.4s;
  transform: translate(50%, -50%) scale(1) !important;
}

html.is-animating .transition-thematicImage {
  transform: translate(50%, -50%) scale(0) !important;
}

html.is-animating .transition-terminalFade {
  transform: translate(50%, 2000px) !important;
}

html.is-animating .pagination {
  opacity: 0;
  position: absolute;
  transform: translateY(2000px) !important;
}

.transition-fadeTop {
  transition: 0.4s;
  opacity: 1;
  transform: translateY(0);
}



// animate download end

// bottom start
.bottom {
  width: 100%;
  position: relative;

  .pagination {
    transition: all 1s;
    transform: translateY(0) !important;
    opacity: 1;
  }
}

// bottom end

.thematic-image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) scale(0);
  z-index: 3;
  line-height: 0;
  max-width: 470px;
  width: 100%;

  @media screen and (max-width: 1770px) {
    max-width: 450px;
  }

  @media screen and (max-width: 1500px) {
    max-width: 370px;
  }

  @include lg {
    max-width: 50%;
  }

  img {
    width: 100%;
    // image-rendering: pixelated;
  }
}

.transition-terminalFade {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(50%, 0) !important;
  transition: 0.4s;
  opacity: 1;
  z-index: 9;
  line-height: 0;
  max-width: 470px;
  width: 100%;

  @media screen and (max-width: 1770px) {
    max-width: 450px;
  }

  @media screen and (max-width: 1500px) {
    max-width: 370px;
  }

  @include lg {
    max-width: 50%;
  }

  @media screen and (max-width: 1024px) {
    top: 50%;
    bottom: auto !important;
    transform: translate(50%, -50%) !important;
  }

  img {
    width: 100%;
    // image-rendering: pixelated;
  }
}


html.is-animating .transition-terminalFade {
  transform: translate(50%, 2000px) !important;
  opacity: 0;
}

.transition-terminalFade.slideUp {
  transform: translate(50%, 0) !important;
  opacity: 1;

  @media screen and (max-width: 1024px) {
    top: 50%;
    bottom: auto !important;
    transform: translate(50%, -50%) !important;
  }

}






// processing start
.processing {
  .thematic-image {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

// processing end

// about start
.about {
  .list {
    margin-left: 160px;
    max-width: 85%;
    width: 100%;
  }

  .list__item {
    align-items: center;

    .item__title {
      margin: 0;
    }
  }
}

.about-desc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;

  .col__titlle-wrap {
    flex-basis: 45%;
  }

  .col__title {
    margin-bottom: 15px;
    font-family: $raleway;
    font-size: rem(25);
    font-style: normal;
    font-weight: 600;
    line-height: rem(27);
    letter-spacing: 0em;
    text-align: left;
  }
}

.paginate-arrow {
  &:after {
    content: 'î “' !important;
  }
}

.partners {
  padding: 0 50px;

  * {
    outline: none;
  }



  &__slider {
    position: relative;

    .slick-list {
      max-width: 90%;
      width: 100%;
      margin: auto;
    }

    .slick-track {
      align-items: center;
      display: flex;
    }

    .slick-arrow {
      color: $wc;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(8);
      padding: 10px;
      transition: $tr;
      cursor: pointer;

      &:first-child {
        transform: translateY(-50%) rotate(-180deg);
      }

      &:last-child {
        transform: translateY(-50%);
        right: 0;
      }
    }
  }

  &__item {
    outline: none;
  }
}

// about end


// terminal start
.hidden_map {
  opacity: 0;
  position: absolute;

  .terminal_map,
  .contacts_map {

    position: absolute;

    iframe {
      width: 0 !important;
      height: 0 !important;
    }
  }
}

// terminal end

// contacts start
.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: 43%;

    * {
      font-size: rem(30);
      font-style: normal;
      font-weight: 400;
      line-height: rem(37);
      letter-spacing: 0em;
      text-align: left;
      color: $wc;
    }

    ul {
      li {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 30px;

        span {
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 100%;
          background-color: $wc;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $wc;
          margin-right: 15px;
        }

        a {
          &:hover {
            color: #b6d1ff;
          }
        }
      }
    }

    &--social {
      margin-top: 30px;
    }
  }
}


// contacts end


// maps start
.terminal_map,
.contacts_map {
  width: 100%;
  height: 100%;
  position: relative;

  .map_wrap {
    position: absolute;
    opacity: 1;
    width: 100% !important;
    height: 100% !important;

    iframe {
      width: 100% !important;
      height: 100% !important;
      border: none !important;
    }

  }
}

// maps end