extends layout/main/main
block title
  | main
block main
  .wrapper.contacts#swup(style="background-image: url('assets/img/bg.webp')")
    .col 
      .col__wrap        
        include includes/header/header
        .col__content.transition-fadeTop
          .contacts
            div(class="contacts__item wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".3s")
              .col__titlle-wrap.transition-fadeTop
                h1.col__title.col__title--thin Связаться с нами:
              ul
                mixin tel(operator,tel)
                  li 
                    span
                      img(src=operator, alt="")
                    a(href="#")=tel
                +tel('assets/img/operator-o.png','+996 664 522 234')       
                +tel('assets/img/operator-beeline.png','+996 664 522 234')       
                +tel('assets/img/operator-megacom.png','+996 664 522 234')       
            div(class="contacts__item wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".5s")
              .col__titlle-wrap.transition-fadeTop
                h1.col__title.col__title--thin Наш адрес:
                ul
                  li Кыргызстан, г. Бишкек, БЦ Монолит (офис 803-804)
        div(class="bottom wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s")
          .contacts__item.contacts__item--social
            .col__titlle-wrap.transition-fadeTop
              h1.col__title.col__title--thin Социальные сети:
            ul.social
              mixin social(icon, link)
                li
                  span
                    a(href=link)
                      img(src=icon, alt="") 
              +social('assets/img/instagram.png')  
              +social('assets/img/facebook.png')  

    .col
      .col__wrap
        .col__content
          .contacts_map.transition-fadeTop 
            .map_wrap
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1FRyZLUMEV44e9IQozyAH3dPNC3vPUox8" width="640" height="480"></iframe>
              
  include includes/scripts


  
    
