
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-cashier2:before { content: '\e801'; } /* '' */
.icon-cashier3:before { content: '\e802'; } /* '' */
.icon-cashier4:before { content: '\e803'; } /* '' */
.icon-proc1:before { content: '\e804'; } /* '' */
.icon-proc2:before { content: '\e805'; } /* '' */
.icon-proc3:before { content: '\e806'; } /* '' */
.icon-proc4:before { content: '\e807'; } /* '' */
.icon-proc5:before { content: '\e808'; } /* '' */
.icon-purse1:before { content: '\e809'; } /* '' */
.icon-purse2:before { content: '\e80a'; } /* '' */
.icon-purse3:before { content: '\e80b'; } /* '' */
.icon-purse4:before { content: '\e80c'; } /* '' */
.icon-purse5:before { content: '\e80d'; } /* '' */
.icon-android:before { content: '\e80e'; } /* '' */
.icon-about1:before { content: '\e80f'; } /* '' */
.icon-about2:before { content: '\e810'; } /* '' */
.icon-about3:before { content: '\e811'; } /* '' */
.icon-about4:before { content: '\e812'; } /* '' */
.icon-arrow-long:before { content: '\e813'; } /* '' */
.icon-cashier1:before { content: '\e814'; } /* '' */